#include "resource.h"
#include "afxres.h"

#pragma code_page(65001)

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_LOGIN_MAIN DIALOGEX 0, 0, 760, 430
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BSPHP C++ MFC Login Demo"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "公告", -1, 14, 10, 732, 72
    EDITTEXT        IDC_EDIT_NOTICE, 24, 24, 712, 48, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL

    LTEXT           "服务状态：", -1, 14, 90, 80, 10
    LTEXT           "未连接", IDC_ST_SERVICE_STATUS, 98, 90, 180, 10

    LTEXT           "登录状态：", -1, 14, 104, 80, 10
    LTEXT           "-", IDC_ST_LOGIN_STATUS, 98, 104, 640, 10

    CONTROL         "", IDC_TAB_MAIN, "SysTabControl32", WS_CHILD | WS_VISIBLE | WS_TABSTOP | TCS_TABS | TCS_FIXEDWIDTH, 14, 122, 732, 276

    LTEXT           "字段1：", IDC_ST_F1, 28, 154, 86, 12
    EDITTEXT        IDC_EDIT_F1, 120, 150, 612, 14, ES_AUTOHSCROLL
    LTEXT           "字段2：", IDC_ST_F2, 28, 174, 86, 12
    EDITTEXT        IDC_EDIT_F2, 120, 170, 612, 14, ES_AUTOHSCROLL
    LTEXT           "字段3：", IDC_ST_F3, 28, 194, 86, 12
    EDITTEXT        IDC_EDIT_F3, 120, 190, 612, 14, ES_AUTOHSCROLL
    LTEXT           "字段4：", IDC_ST_F4, 28, 214, 86, 12
    EDITTEXT        IDC_EDIT_F4, 120, 210, 612, 14, ES_AUTOHSCROLL
    LTEXT           "字段5：", IDC_ST_F5, 28, 234, 86, 12
    EDITTEXT        IDC_EDIT_F5, 120, 230, 612, 14, ES_AUTOHSCROLL
    LTEXT           "字段6：", IDC_ST_F6, 28, 254, 86, 12
    EDITTEXT        IDC_EDIT_F6, 120, 250, 612, 14, ES_AUTOHSCROLL
    LTEXT           "字段7：", IDC_ST_F7, 28, 274, 86, 12
    EDITTEXT        IDC_EDIT_F7, 120, 270, 612, 14, ES_AUTOHSCROLL
    LTEXT           "字段8：", IDC_ST_F8, 28, 294, 86, 12
    EDITTEXT        IDC_EDIT_F8, 120, 290, 612, 14, ES_AUTOHSCROLL

    CONTROL         "验证密码(userset)", IDC_CHK_OPTION1, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 314, 140, 12

    CONTROL         "", IDC_PIC_CAPTCHA, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_0, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT, 120, 302, 150, 14, ES_AUTOHSCROLL

    CONTROL         "", IDC_PIC_CAPTCHA_1, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH_1, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_1, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT_1, 120, 302, 150, 14, ES_AUTOHSCROLL

    CONTROL         "", IDC_PIC_CAPTCHA_2, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH_2, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_2, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT_2, 120, 302, 150, 14, ES_AUTOHSCROLL

    CONTROL         "", IDC_PIC_CAPTCHA_3, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH_3, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_3, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT_3, 120, 302, 150, 14, ES_AUTOHSCROLL

    CONTROL         "", IDC_PIC_CAPTCHA_4, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH_4, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_4, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT_4, 120, 302, 150, 14, ES_AUTOHSCROLL

    CONTROL         "", IDC_PIC_CAPTCHA_5, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH_5, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_5, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT_5, 120, 302, 150, 14, ES_AUTOHSCROLL

    CONTROL         "", IDC_PIC_CAPTCHA_8, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH_8, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_8, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT_8, 120, 302, 150, 14, ES_AUTOHSCROLL

    CONTROL         "", IDC_PIC_CAPTCHA_9, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH_9, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_9, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT_9, 120, 302, 150, 14, ES_AUTOHSCROLL

    CONTROL         "", IDC_PIC_CAPTCHA_10, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH_10, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_10, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT_10, 120, 302, 150, 14, ES_AUTOHSCROLL

    CONTROL         "", IDC_PIC_CAPTCHA_12, "STATIC", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 270, 306, 120, 36
    PUSHBUTTON      "刷新验证码", IDC_BTN_CAPTCHA_REFRESH_12, 398, 306, 80, 22
    LTEXT           "验证码：", IDC_ST_CAPTCHA_LABEL_12, 14, 306, 90, 12
    EDITTEXT        IDC_EDIT_CAPTCHA_INPUT_12, 120, 302, 150, 14, ES_AUTOHSCROLL

    PUSHBUTTON      "发送验证码", IDC_BTN_SEND_CODE, 486, 306, 80, 22

    PUSHBUTTON      "登录", IDC_BTN_LOGIN, 580, 348, 132, 26

    PUSHBUTTON      "测试网络", IDC_BTN_NET_TEST, 14, 402, 96, 22
    PUSHBUTTON      "检测到期", IDC_BTN_ENDTIME, 116, 402, 96, 22
    PUSHBUTTON      "获取版本", IDC_BTN_VERSION, 218, 402, 96, 22
    PUSHBUTTON      "Web方式登录", IDC_BTN_WEB_LOGIN, 320, 402, 110, 22
    PUSHBUTTON      "执行当前Tab", IDC_BTN_TAB_ACTION, 564, 402, 182, 22
END

IDD_CONSOLE_WIN DIALOGEX 0, 0, 900, 698
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "BSPHP Console (MFC)"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "已登录状态：", -1, 14, 14, 120, 10
    LTEXT           "-", IDC_ST_CONSOLE_STATUS, 130, 14, 750, 10

    EDITTEXT        IDC_EDIT_CONSOLE_LOG, 14, 34, 872, 200, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL

    GROUPBOX        "公用接口", -1, 14, 242, 872, 128
    PUSHBUTTON      "服务器时间", IDC_BTN_CONSOLE_SERVER_DATE, 22, 258, 96, 22
    PUSHBUTTON      "预设URL", IDC_BTN_CONSOLE_PRESET_URL, 124, 258, 96, 22
    PUSHBUTTON      "Web地址", IDC_BTN_CONSOLE_WEB_URL, 226, 258, 96, 22
    PUSHBUTTON      "全局配置", IDC_BTN_CONSOLE_GLOBAL_INFO, 328, 258, 96, 22
    PUSHBUTTON      "公告", IDC_BTN_CONSOLE_NOTICE, 430, 258, 96, 22
    PUSHBUTTON      "验证码(全部)", IDC_BTN_CONSOLE_CODE_ALL, 536, 258, 96, 22
    PUSHBUTTON      "登录验证码", IDC_BTN_CONSOLE_CODE_LOGIN, 638, 258, 96, 22
    PUSHBUTTON      "注册验证码", IDC_BTN_CONSOLE_CODE_REG, 740, 258, 96, 22
    PUSHBUTTON      "找回验证码", IDC_BTN_CONSOLE_CODE_BACK, 22, 284, 96, 22
    PUSHBUTTON      "留言验证码", IDC_BTN_CONSOLE_CODE_SAY, 124, 284, 96, 22
    PUSHBUTTON      "逻辑值A", IDC_BTN_CONSOLE_LOGIC_A, 226, 284, 96, 22
    PUSHBUTTON      "逻辑值B", IDC_BTN_CONSOLE_LOGIC_B, 328, 284, 96, 22
    PUSHBUTTON      "逻辑A内容", IDC_BTN_CONSOLE_LOGIC_INFOA, 430, 284, 96, 22
    PUSHBUTTON      "逻辑B内容", IDC_BTN_CONSOLE_LOGIC_INFOB, 532, 284, 96, 22

    GROUPBOX        "自定义配置模型", -1, 14, 376, 872, 48
    PUSHBUTTON      "软件配置", IDC_BTN_CONSOLE_APP_APP, 22, 392, 96, 22
    PUSHBUTTON      "VIP配置", IDC_BTN_CONSOLE_APP_VIP, 124, 392, 96, 22
    PUSHBUTTON      "登录配置", IDC_BTN_CONSOLE_APP_LOGIN, 226, 392, 96, 22

    GROUPBOX        "通用接口", -1, 14, 428, 872, 48
    PUSHBUTTON      "获取版本", IDC_BTN_CONSOLE_VERSION, 22, 444, 96, 22
    PUSHBUTTON      "软件描述", IDC_BTN_CONSOLE_MIAO, 124, 444, 96, 22

    GROUPBOX        "登录模式接口", -1, 14, 480, 872, 162
    PUSHBUTTON      "检测到期", IDC_BTN_CONSOLE_ENDTIME, 22, 496, 96, 22
    PUSHBUTTON      "用户信息(默认)", IDC_BTN_CONSOLE_USERINFO, 124, 496, 110, 22
    PUSHBUTTON      "心跳包", IDC_BTN_CONSOLE_HEARTBEAT, 242, 496, 96, 22
    PUSHBUTTON      "用户特征Key", IDC_BTN_CONSOLE_USERKEY, 346, 496, 96, 22
    PUSHBUTTON      "注销", IDC_BTN_CONSOLE_LOGOUT, 740, 496, 96, 22
    LTEXT           "取用户信息 info 字段（选中后点查询）:", -1, 22, 524, 500, 10
    LISTBOX         IDC_LIST_CONSOLE_USERINFO_FIELDS, 22, 538, 420, 92, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "查询选中字段", IDC_BTN_CONSOLE_USERINFO_FIELD, 452, 568, 110, 24

    GROUPBOX        "续费订阅推广", -1, 14, 644, 872, 48
    PUSHBUTTON      "续费订阅(直接)", IDC_BTN_CONSOLE_RENEW, 22, 660, 110, 22
    PUSHBUTTON      "购买充值卡", IDC_BTN_CONSOLE_BUYCARD, 140, 660, 100, 22
    PUSHBUTTON      "购买库存卡", IDC_BTN_CONSOLE_STOCK, 248, 660, 100, 22
END

IDD_WEBLOGIN DIALOGEX 0, 0, 720, 580
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_CLIPCHILDREN
CAPTION "Web登录"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "加载地址（调试用，输出窗口同步打印）:", -1, 14, 10, 400, 10
    EDITTEXT        IDC_EDIT_WEBLOGIN_URL, 14, 22, 692, 36, ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL | WS_VSCROLL | WS_BORDER
    CONTROL         "", IDC_WEBLOGIN_HOST, "STATIC", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_CLIPSIBLINGS, 14, 64, 692, 420
    LTEXT           "内嵌 WebView2；若黑屏可点「系统浏览器打开」在外部浏览器登录，再点「检测心跳」。#login= 时也会自动检测 5031。", -1, 14, 492, 692, 24
    PUSHBUTTON      "系统浏览器打开", IDC_BTN_WEBLOGIN_OPEN_BROWSER, 14, 520, 120, 24
    PUSHBUTTON      "检测心跳", IDC_BTN_WEBLOGIN_HEARTBEAT, 140, 520, 88, 24
    DEFPUSHBUTTON   "关闭", IDCANCEL, 618, 520, 88, 24
END

